		*{
 margin : 100;
 padding: 100;
 box-sizing: border-box;
}

body {
    margin: 0px;
    margin-top: 50px;
    background-color: rgb(146, 165, 159);
}



h1 {
    font-family: ;
    font-size: pt;
    color: ;
    text-align: ;
}

p {
    line-height: ;
    word-break: ;
}


.logo {
    position: absolute;
    width: 200px;
    height: px;
    left: 200px;
    top: 100px;
    border: 3px;
    border-radius: 10px;
}


img {
    position: absolute;
    width: 400px;
    height: px;
    left: 1000px;
    top: 10px;
}


div {
    position: absolute;
    width: px;
    height: px;
    background-color: ;
    border: ;
    border-radius: %;
}


th {
    width: 200;
    border: 1px black solid;
    border-collapse: collapse;
    width: 600px;
    height: 500px;
    overflow: hidden;
    overflow-y: scroll; 
}




@media screen and (max-width: 704px) {
    
}