		*{
 margin : 100;
 padding: 100;
 box-sizing: border-box;
}

@font-face {
  font-family: 'DegonprincessClassic'; 
  src: url(DeogonPrincessClassic.woff);
}

body {
    margin: 0px;
    margin-top: 50px;
    background-color: rgb(146, 165, 159);
}

h1 {
    font-family: 'DegonprincessClassic';
    font-size: pt;
    color: ;
    text-align: ;
}

h2 {
    font-family: 'DegonprincessClassic';
    font-size: pt;
    color: ;
    text-align: ;
}

a {
    text-decoration-line: none;
}

p {
    line-height: ;
    word-break: ;
}

img {
    position: absolute;
    width: 300px;
    height: px;
    left: 1000px;
    top: 100px;
}


div {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 10px;
    top: 100px;
    background-color: ;
}

table, th, tr, td {
    border: 1px black solid;
    border-collapse: collapse;
    width: 300px;
    height: 20px;
}

@media screen and (max-width: 704px) {
    
}